<div class="container text-center test01" window-resize>    
    <div class="row">
        <h2>Book an Appointment</h2>
        <div>Our Investing Topics</div>
        <br>
        <h4>Pick a topic, then we'll find a time and place</h4>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row option">
        <div button-layout>
            <div ng-repeat="x in items" class="col-sm-6 col-xs-12">
                <button class="btn btn-default btn-lg">{{x.text}}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <a ui-sref="app"><h5>< Return to the previous screen</h5></a>
    </div>
    <div class="row">
        <br>
        <select ng-model="locale" ng-change="change()">
            <option value="en">English</option>
            <option value="fr">French</option>
        </select>
    </div>
</div>

