$margin: 8px;
$padding: 6px;
$color: green;

.test01 {

  .option {
     width: 90%;
     margin: auto;
     display: block;

    button {
      color: $color;
      border-color: $color;
    }
  }

  a {
    h5 {
      color: $color;
    }
  }

  button {
    margin: $margin;
    white-space:normal !important;
    overflow: hidden;
    display: block
  }
}